<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Sql Server (Microsoft)"
         connectionString="Data Source=(local)\SQLEXPRESS; Initial Catalog=Papyrus; Integrated Security=True; Connect Timeout=3"
         providerName="System.Data.SqlClient" />
    <add name="MySql 5 ODBC (Oracle)"
         connectionString="Server=192.168.23.128; Database=Papyrus; User=admin; pwd=melanie"
         providerName="MySql.Data.MySqlClient" />
    <add name="MySql 5 OLE (Oracle)"
         connectionString="Provider=MySqlProv.3.9; Location=192.168.23.128; Data Source=stagiaires; User ID=admin; Password=melanie"
         providerName="System.Data.OleDb" />
    <add name="PostgreSQL Unicode Npgsql"
         connectionString="Server=localhost; Database=Papyrus; uid=postgres; pwd=Cdi1234"
         providerName="Npgsql" />
    <add name="PostgreSQL Unicode ODBC"
         connectionString="Driver=PostgreSQL Unicode; Data Source=Papyrus;server=localhost;uid=postgres;pwd=Cdi1234"
         providerName="System.Data.Odbc" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.1.1.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
</configuration>
