<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Sql Server (Microsoft)"
         connectionString="Data Source=(local)\SQLEXPRESS; Initial Catalog=Papyrus; Integrated Security=True; Connect Timeout=3"
         providerName="System.Data.SqlClient" />
    <add name="MySql 5 Natif"
         connectionString="Server=192.168.23.128; Database=Papyrus;  Uid=root; Pwd="
         providerName="MySql.Data.MySqlClient" />
    <add name="MySql 5 ODBC"
         connectionString="Driver={MySQL ODBC 5.2 Unicode Driver}; Server=192.168.23.128; Database=Papyrus;  Uid=root; Pwd="
         providerName="System.Data.Odbc" />
    <add name="MySql 5 OLE (Oracle)"
         connectionString="Provider=MySqlProv; Location=192.168.23.128; Database=Papyrus; User ID=root; Password="
         providerName="System.Data.OleDb" />
    <add name="PostgreSQL Unicode Npgsql"
         connectionString="Server=192.168.23.128; Database=Papyrus; uid=postgres; pwd=Cdi1234; Timeout=3"
         providerName="Npgsql" />
    <add name="PostgreSQL ODBC Unicode"
         connectionString="Driver={PostgreSQL Unicode}; Server=192.168.23.128; Database=Papyrus; Uid=postgres; Pwd=Cdi1234"
         providerName="System.Data.Odbc" />
    <add name="PostgreSQL OLE Unicode"
         connectionString="Provider=PostgreSQL; Data Source=192.168.23.128; Location=Papyrus; User ID=postgres; Password=Cdi1234; Connect Timeout=3"
         providerName="System.Data.OleDb" />
    <add name="Sql Server OLE (Microsoft)"
         connectionString="Provider=SQLOLEDB; Data Source=(local)\SQLEXPRESS; Integrated Security=SSPI;Initial Catalog=Papyrus"
         providerName="System.Data.OleDb" />
    <add name="MySql 5 OLE"
         connectionString="Provider=OleMySql.MySqlSource.1; Data Source=192.168.23.128; Initial Catalog=Papyrus; User ID=root; Password=; Activation=SKAR-TUB4-PR2A-WY9X"
         providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           support="FF"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql, Version=2.1.2.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
</configuration>
